<div class="page-header header-home">
	<div class="container">
		<div class="col-md-12">
    <h3>Numeric Analytics: Downloads & Download Links</h3>
    </div>
	</div>
</div>


<div class="container"><br>

<div class="col-md-6">
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	  	<h5>Eclipse:</h5>
	  	<p class="list-group-item-text">Information and downloads.</p>
	  </a>
	  <a href="https://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/luna/R/eclipse-standard-luna-R-win32-x86_64.zip" target="_blank" class="list-group-item">Eclipse Standard 4.4 (64 bit) <span class="glyphicon glyphicon-star pull-right"></span></a>
	  <a href="https://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/luna/R/eclipse-standard-luna-R-win32.zip" target="_blank" class="list-group-item">Eclipse Standard 4.4 (32 bit) <span class="glyphicon glyphicon-star pull-right"></span></a>
	  <a href="http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/kepler/SR2/eclipse-standard-kepler-SR2-win32-x86_64.zip" target="_blank" class="list-group-item">Eclipse Standard 4.3.2 (64 bit)</a>
	  <a href="http://www.eclipse.org/downloads/download.php?file=/technology/epp/downloads/release/kepler/SR2/eclipse-standard-kepler-SR2-win32.zip" target="_blank" class="list-group-item">Eclipse Standard 4.3.2 (32 bit)</a>	  	  	
	</div>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	  	<h5>Tortoise SVN / Putty:</h5>
	  	<p class="list-group-item-text">Downloads for the current releases of TortoiseSVN and Putty.</p>
	  </a>
	  <a href="http://downloads.sourceforge.net/project/tortoisesvn/1.8.7/Application/TortoiseSVN-1.8.7.25475-win32-svn-1.8.9.msi?r=http%3A%2F%2Ftortoisesvn.net%2Fdownloads.html&ts=1406590753&use_mirror=softlayer-dal" target="_blank" class="list-group-item">Tortoise SVN 1.8.7 (64 bit)</a>
	  <a href="http://downloads.sourceforge.net/project/tortoisesvn/1.8.7/Application/TortoiseSVN-1.8.7.25475-x64-svn-1.8.9.msi?r=http%3A%2F%2Ftortoisesvn.net%2Fdownloads.html&ts=1406590781&use_mirror=softlayer-dal" target="_blank" class="list-group-item">Tortoise SVN 1.8.7 (32 bit)</a>
	  <a href="http://the.earth.li/~sgtatham/putty/latest/x86/putty.exe" target="_blank" class="list-group-item">PuTTY</a>
	  <a href="http://the.earth.li/~sgtatham/putty/latest/x86/puttygen.exe" target="_blank" class="list-group-item">PuTTYgen</a>
	</div>
</div>

<div class="col-md-6">
	<div class="list-group">
	  <a href="#" class="list-group-item active">
	  	<h5>Tealeaf:</h5>
	  	<p class="list-group-item-text">IBM Tealeaf related downloads:</p>
	  </a>
	  <a href="/downloads/zipIconSet" class="list-group-item">48px Icon Set</a>
	  <a href="/downloads/zipFiddler2" class="list-group-item">Fiddler 2 - Setup</a>
	  <a href="http://browscap.org/stream?q=BrowsCapCSV" target="_blank" class="list-group-item">Browscap (browscap.csv)</a>
	  <a href="http://wurfl.sourceforge.net/wurfl_download.php" target="_blank" class="list-group-item">WURFL (wurfl.xml)</a>
	  <a href="/downloads/RTV8789" class="list-group-item">RealiTea Viewer 8.7.0.8789</a>
	  <a href="/downloads/RTV8781" class="list-group-item">RealiTea Viewer 8.7.0.8781</a>
	</div>

	<div class="list-group">
	  <a href="#" class="list-group-item active">
	  	<h5>Other:</h5>
	  	<p class="list-group-item-text">Some text...</p>
	  </a>
	  <a href="#" class="list-group-item">...</a>
	  <a href="#" class="list-group-item">...</a>
	  <a href="#" class="list-group-item">...</a>
	  <a href="#" class="list-group-item">...</a>
	</div>
</div>

</div>

<%= render 'layouts/navbar_downloads' %>