<div class="page-header header-home">
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
    <h2>Metrix & MMA Metrix</h2>
    <h4><b>Coming Soon! </b></h4>
    </div>
	</div>
</div>

<%= render 'layouts/navbar_metrix' %>