<div class="page-header">
	<div class="container">
		<div class="col-md-3"><h2>Quick Links:</h2></div>

		<div class="col-md=6"><br>
			<%= link_to "Google DOC", "https://docs.google.com/document/d/1Cki2XRkWoROivTzE1w6mJZq6qHMgKfuIVnnNNsHvtT4/edit?usp=sharing", target:"_blank", class: "btn btn-success btn-sm" %>
			<%= link_to "Linkedin Profile", "https://www.linkedin.com/pub/john-butler/7/623/62/", target:"_blank", class: "btn btn-success btn-sm" %>
		</div>
	</div>
</div>

<br><div class="container">
	<div class="panel-group" id="accordion">

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle" data-toggle="collapse" data-parent"#accordion" href="#collapseOne">
		    	 Objective
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseOne" class="panel-collapse collapse in">
		  	<div class="panel-body">
			    <h4>Senior/Management level position with forward thinking organizations seeking to
				  grow their Customer/User Experience (CX/UX) practice, providing the
			  	opportunity to exploit my skills in leadership, analytics and technology.</h4>
		 		</div>
			</div>
		</div>
	</div>	

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseTwo">
		    	 Summary of Qualifications
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseTwo" class="panel-collapse collapse">
		  	<div class="panel-body">
			    <h4>Senior level professional with over 20+ years experience in technology, analytics, 
			    User Experience (UX), web site optimization, project management, network enterprise 
			    management, implementations, testing, performance tuning, team leadership and management. 
			    Motivated self-starter and creative thinker with entrepenurial sprit, able to think 
			    outside the box and communicate effectively across levels of an organization large and small.</h4>
		 		</div>
			</div>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseThree">
		    	 Professional Experience
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseThree" class="panel-collapse collapse">
		  	<div class="panel-body">
		  		<div class="col-md-12">
			  		<div class="well well-sm">
			  			<b>Numeric Analytics, LLC - Golden, CO </b><br>
			  			2010 - Present
			  				<hr>
			  				<p><b>October 2011 - Present :: Senior Managing Consultant </b>- Responsible for managing
			  				the Tealeaf practice, coordinating resources and management of client projects. 
			  				Instrumental in building the practice and implementing processes and documentation 
			  				for all levels of the organization.</p>

			  				<p><b>March 2011 - October 2011 :: Senior Consultant </b>- Responsible for installing and
			  				upgrading Tealeaf implementations (v6 & v7) for multiple Fortune 1000 clients. 
			  				Provide optimization and analysis to imporve User Experience and overall site 
			  				performance. Consult with organizations to optimize web experience and minimize 
			  				customer struggle.</p>

			  				<p><b>June 2010 - March 2011 :: Tealeaf Network / Systems Consultant </b>- IBM Tealeaf 
			  				partner working with clients to maximize ROI, utilizing cutting edge Customer
			  				Experience Management (CEM) tools. Problem solver with strong customer focus and 
			  				ability to think outside the box to provide unique and creative solutions.</p>
			  		</div>
		  		</div>
		  		<div class="col-md-12">
		  		<div class="well well-sm">
		  			<b>Zunesis, Inc. - Centennial, CO </b><br>
		  			2009 - 2010
		  				<hr>
		  				<p><b>Enterprise Solution Architect </b>- Design and implement enterprise technology 
		  				solutions for large enterprises and government.  Consult with customers on a variety 
		  				of topics and issues in both pre-sale and post-sale capacity.  Responsible for leading 
		  				and managing all Linux related projects.  Instrumental in virtualization initiatives 
		  				both on the server and desktop, utilizing Vmware, Citrix, Microsoft and Xen technologies. </p>
		  		</div>
		  		</div>
		  		<div class="col-md-12">
		  		<div class="well well-sm">
		  			<b>Colorado Community College - Denver, CO </b><br>
		  			2007 - 2009
		  			<hr>
		  			<p><b>Senior Linux Administrator </b>- Perform system administration tasks on large-scale 
		  			Linux systems in a multi-vendor, high performance computing environment.  Lead Linux 
		  			installation, cluster planning and administration activities, including project management.</p>
		  		</div>
		  		</div>
		  		<div class="col-md-12">
		  		<div class="well well-sm">
		  			<b>Equitech Computer Systems, Inc. - Denver, CO </b><br>
		  			1993 - 2007
		  			<hr>
		  			<p><b>Owner </b>- Managed multiple technical support teams and coordinated technical issues 
		  			involving network, hardware, database and operating systems (Linux/Unix, Oracle, MS Windows 
		  			Server, MS Terminal Services).  Responsible for technical support operations in a high-volume, 
		  			24/7 environment.</p>
		  			<p>Oversaw network connectivity, implementation, integration and troubleshooting for servers, 
		  			routers, remote access, storage devices, firewalls, printers and scanners.</p>
		  		</div>
		  		</div>
		 		</div>
			</div>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseFour">
		    	 Key Technical Points
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseFour" class="panel-collapse collapse">
		  	<div class="panel-body"><ul>
			    <li>Expert knowledge of the architecture, management and maintenance of multiple networks,
			    integrating Linux/Unix, WIndows, and Novell systems and servers.</li>
			    <li>Work closely with infrastructure teams to integrate technology solutions such as Splunk
			    and Akamai.</li>
			    <li>Manage, design and implement monitoring of system and database resources to assure systems
			    meet performance and availability requirements.</li>
			    <li>Design, installation and maintenance of security systems for multiple Local/Wide Area
			    Networks.</li>
			    <li>Architecture, management and maintenance of dedicated and shared hosting environments
			    for multiple customers, utilizing Operating Systems and Database Systems (Linux/Oracle/MySQL)</li>
			    <li>Installation, upgrade and support of production database systems on Unix-based operating
			    systems.</li>
			    <li>Architecture, management and maintenance of WIndows Terminal Service networks.</li>
			    <li>Management and maintenance of large international heterogeneous WAN.</li>
			    <li>Development of a software package to backup workstation computers over the network to 
			    low-cost network storage.</li>
			    <li>Performance of comprehensive security audits, including software patches, network trust,
			    password strength, and network layer filtering.</li>
			    <li>Capacity planning and Performance tuning of multiple operating systems and database
			    environments.</li>
			    <li>Policy documentation and initiation of standard operating proceedures.</li>
			    <li>Design and maintenance of multiple disaster recovery systems.</li>
			    <li>Maintenance of highest level of systems integrity by monitoring application software and
			    hardware, proactively eliminating problems before they occur.</li>
			    </ul>
		 		</div>
			</div>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseFive">
		    	 Key Non-Technical Points
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseFive" class="panel-collapse collapse">
		  	<div class="panel-body"><ul>
			    <li>Keep up to date on industry developments to help drive innovation and leadership.</li>
			    <li>Recommend and deliver improvements to analytics tools, implementations, reporting and usage.</li>
			    <li>Leadership, management, mentoring and training of technical teams.</li>
			    <li>Provide technical leadership and project management for design, implementation, maintenance 
			    and delivery.</li>
			    <li>Direct and coordinate database systems administration activities, providing leadership, management
			    and problem resolution to ensure standards for quality of work are met.</li>
			    <li>Supervise and implement system tools to automate and streamline system operations to optimize
			    operations.</li>
			    <li>Consult with senior executives on future technology issues that impact their business.</li>
			    <li>Attention to detail, capacy to plan, ability to execute and strong commitment to excellence.</li>
			    <li>Establish and implement policies, proceedures and technologies to secure and protect data.</li>
			    <li>Proven troubleshooting skills and ability to understand complex dependency relationships.</li>
			    <li>Vendor relations - purchase and acquisition of computer hardware and software for multiple 
			    organizations.</li>
			    </ul>
		 		</div>
			</div>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseSix">
		    	 Select Technical Expertise
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseSix" class="panel-collapse collapse">
		  	<div class="panel-body">
		  	<div class='col-md-1'></div>
		  	<div class='col-md-10'>
		  		<br>
					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#analytics_Modal"><b>Analytics</b></button>

					<!-- Modal -->
					<div class="modal fade" id="analytics_Modal" tabindex="-1" role="dialog" aria-labelledby="analytics_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="analytics_ModalLabel">Analytics</h4>
					      </div>
					      <div class="modal-body">
					        <li>Tealeaf versions 6-9</li>
					        <li>Google Analytics</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#os_Modal"><b>Operating Systems</b></button>

					<!-- Modal -->
					<div class="modal fade" id="os_Modal" tabindex="-2" role="dialog" aria-labelledby="os_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="os_ModalLabel">Operating Systems</h4>
					      </div>
					      <div class="modal-body">
					        <li>Linux (redHat, Fedora, SuSE, Caldera, CentOS, Gentoo)</li>
					        <li>VMWare</li>
					        <li>Solaris</li>
					        <li>SCO</li>
					        <li>Windows Server</li>
					        <li>Windows Desktop</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>					
			    
					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#osAO_Modal"><b>OS Add-Ons</b></button>

					<!-- Modal -->
					<div class="modal fade" id="osAO_Modal" tabindex="-3" role="dialog" aria-labelledby="osAO_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="osAO_ModalLabel">OS Add-Ons</h4>
					      </div>
					      <div class="modal-body">
					        <li>Terminal Services</li>
					        <li>Citrix</li>
					        <li>SSH</li>
					        <li>X Windows</li>
					        <li>LTSP</li>
					        <li>Fedora Directory</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>	

					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#software_Modal"><b>Software</b></button>

					<!-- Modal -->
					<div class="modal fade" id="software_Modal" tabindex="-4" role="dialog" aria-labelledby="software_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="software_ModalLabel">Software</h4>
					      </div>
					      <div class="modal-body">
					        <li>IBM Tealeaf</li>
					        <li>Apache</li>
					        <li>Sendmail</li>
					        <li>Postfix</li>
					        <li>DHCP</li>
					        <li>DNS/BIND</li>
					        <li>FTP/SFTP</li>
					        <li>Samba</li>
					        <li>Webmin</li>
					        <li>CVS</li>
					        <li>SVN</li>
					        <li>Majordomo</li>
					        <li>SpamAssasin</li>
					        <li>Webalizer</li>
					        <li>NFS</li>
					        <li>NIS</li>
					        <li>CUPS</li>
					        <li>Syslog</li>
					        <li>SSH</li>
					        <li>tar</li>
					        <li>scp</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#lang_Modal"><b>Languages</b></button>

					<!-- Modal -->
					<div class="modal fade" id="lang_Modal" tabindex="-5" role="dialog" aria-labelledby="lang_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="lang_ModalLabel">Languages</h4>
					      </div>
					      <div class="modal-body">
					        <li>Ruby/Rails</li>
					        <li>Perl</li>
					        <li>PHP</li>
					        <li>Python</li>
					        <li>Tcl/Tk</li>
					        <li>JavaScript</li>
					        <li>Shell</li>
					        <li>HTML</li>
					        <li>XML</li>
					        <li>CSS</li>
					        <li>CGI</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#network_Modal"><b>Network/Protocol</b></button>

					<!-- Modal -->
					<div class="modal fade" id="network_Modal" tabindex="-6" role="dialog" aria-labelledby="network_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="network_ModalLabel">Network/Protocol</h4>
					      </div>
					      <div class="modal-body">
					        <li>LAN/WAN</li>
					        <li>MS Active Directory</li>
					        <li>VPN</li>
					        <li>SSL</li>
					        <li>iSCSI</li>
					        <li>TCP/IP</li>
					        <li>Ethernet</li>
					        <li>IPX/SPX</li>
					        <li>NFS</li>
					        <li>SNMP</li>
					        <li>NAS</li>
					        <li>SLP</li>
					        <li>PPTP</li>
					        <li>IPSec</li>
					        <li>WEP/WPA</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#db_Modal"><b>Database/Directories</b></button>

					<!-- Modal -->
					<div class="modal fade" id="db_Modal" tabindex="-7" role="dialog" aria-labelledby="db_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title" id="db_ModalLabel">Database/Directories</h4>
					      </div>
					      <div class="modal-body">
					        <li>SQL</li>
					        <li>MySQL</li>
					        <li>PostgreSQL</li>
					        <li>LDAP</li>
					        <li>Oracle</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

					<!-- Button trigger modal -->
					<button class="btn btn-success btn-sm" data-toggle="modal" data-target="#security_Modal"><b>Security/Network</b></button>

					<!-- Modal -->
					<div class="modal fade" id="security_Modal" tabindex="-8" role="dialog" aria-labelledby="security_ModalLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					        <h4 class="modal-title collapsed" id="security_ModalLabel">Security/Network</h4>
					      </div>
					      <div class="modal-body">
					        <li>Firewalls</li>
					        <li>Routers</li>
					        <li>Encryption</li>
					        <li>RSA</li>
					        <li>VPN</li>
					        <li>DNS</li>
					        <li>Wireless</li>
					        <li>Wifi</li>
					        <li>IPTables/IPChains</li>
					        <li>Cisco</li>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
					  <br><br>
					</div>
		 		</div>
			</div>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseSeven">
		    	 Certifications
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseSeven" class="panel-collapse collapse">
		  	<div class="panel-body">
			    <div class="col-md-6">
		    		<div class="well well-sm">
			    		<li>IBM Tealeaf Masery - V8 Associate Analyst</li>
			    		<li>IBM Tealeaf Mastery - V8 Associate Administrator</li>
			    		<li>Google Analytics - Ecommerce Analytics: From Data to Decisions</li>
			    		<li>VCP - VMWare Certified Professional</li>
			    		<li>VTSP - VMWare Technical Sales Professional</li>
			    		<li>CCA - Citrix Certified Administrator (XenDesktop)</li>
			    		<li>CCA - Citrix Certified Administrator (XenServer)</li>
			    		<li>CCA - Citrix Certified Administrator (XenApp)</li>
			    	</div>
			    </div>
			    <div class="col-md-6">
		    		<div class="well well-sm">
			    		<li>CLP - Novel Certified Linux Professional</li>
			    		<li>CLA - Novell Certified Linux Administrator</li>
			    		<li>CompTIA Security+</li>
			    		<li>CompTIA Network+</li>
			    		<li>TCP/IP Administration</li>
			    		<li>Network Security</li>
			    		<li>Internet Secrity</li>
			    	</div>
			    </div>
		 		</div>
			</div>
		</div>
	</div>

	<div class='col-md-12'>
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">
		    	<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent"#accordion" href="#collapseEight">
		    	 Education
		    	</a>
		    </h3>
		  </div>
		  <div id="collapseEight" class="panel-collapse collapse">
		  	<div class="panel-body">
			    <div class="col-md-6">
		  			<div class="well well-sm">
		  				<b>University of Denver (1991)</b>, Denver, CO<br>
		  				<div class="container"><li>Tax Law</li></div>
		  			</div>
		  		</div>
		      <div class="col-md-6">
		  			<div class="well well-sm">
		  				<b>Fort Lewis College (1990)</b>, Durango CO<br>
		  				  <div class="container"><li>B.A. Accounting</li>
		  				  <li>Minor Economics</li></div>
		  			</div>
		  		</div>
		 		</div>
			</div>
		</div>
	</div>

	</div>
</div>

<br><%= render 'layouts/navbar_resume' %>