<div class="container"><br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Analysis Paralysis: <span class="badge">12-04-2012</span></h3>
		</div>
		<div class="panel-body">
			<h3>What is analysis paralysis?</h3>
			  <img src="/assets/Analysis-Paralysis.jpg" class="img-rounded", align="left"><p>This is the process of over-analyzing or over-thinking a situation to the point at which an action or decision is never taken.  Usually, any decision or action is treated as being over-complicated or there are too many options, so the choice is deferred, delayed, or never made.  Another way to look at analysis paralysis is that the person or organization is seeking the optimal or perfect solution, in fear of making a decision that may lead to an imperfect result.</p>

				<p>When it comes to analytics, analysis paralysis usually manifests itself through exceedingly long phases of planning, requirements gathering, design and modeling, with little or no extra value created by those steps. When these tasks extend over long periods of time, these processes emphasize the bureaucracies of the project or organization, while detracting from the project itself.</p>

				<p>This type of behavior is very similar to another paradox, the paradox of Buridan’s ass.  Buridan’s ass is a paradox in philosophy in the concept of free will, and refers to a hypothetical situation where an ass that is equally hungry and thirsty is placed precisely between a stack of hay and a pail of water. Since the paradox assumes the ass will always go to the item that is closer, it will die of both hunger and thirst since it cannot make a rational decision to choose either.</p>

				<img src="/assets/burdains_ass.jpg" class="img-rounded", align="right"><p>Analytics lends itself nicely to these two destructive ways of thinking (Analysis Paralysis & Buridan’s ass), because analytics is an imperfect science. Large bureaucracies and risk-adverse individuals tend to fall into the analysis paralysis trap, delaying a decision until all other options are gone. Because these types of organizations/people never want to make a less than perfect decision, they will analyze the issue until there is only one option left, effectively letting the analysis make the decision for you.</p>

				<p>While this approach may seem appealing to some, the last remaining option is rarely the best choice.  In extreme cases, the analysis paralysis approach can span months, or even years before a final decision is made.  Factor in the opportunity cost of delaying a decision, that could improve your conversion rate by as little as 1-2% for some large sites, and inaction may be a HUGE mistake!</p>

				<p>The imperfect science of analytics requires you to make decisions based on imperfect data.  Understanding and embracing this is going to keep you from falling into the analysis paralysis trap.  If you make decisions based on the data available, you can begin making gradual improvements to your website today.</p>

				<p>Remember, don’t get stuck in the paradox of Buridan’s ass when presented with multiple options.  You don’t always have to choose between option A or B, be creative and test both options!  Also, thinking in terms of opportunity cost will help get out of the analysis paralysis cycle, by attaching a cost to not making a decision.</p>

				<div class="center-x">
					<%= link_to blog_path, class: "btn btn-sm btn-primary" do %>
						<span class="glyphicon glyphicon-arrow-left"> Back</span>
					<% end %>
				</div>

				<br>
		</div>
	</div>
</div>

<br><%= render 'layouts/navbar_blog' %>