<div class="container"><br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Software or People - What is more important? <span class="badge">10-11-2012</span></h3>
		</div>
		<div class="panel-body">
			<h3>Is it more important to have the right tools or the right people?</h3>
			<img src="/assets/question.jpg" class="img-rounded", align="left"><p>Having good analytic tools to collect meaningful data is important, but I would argue that having people with the proper skills is vastly more important when it comes to driving actionable insights out of your data. Sorting through massive amounts of data to find insights that will lead to improved customer experience, increased conversion, and more profits requires more than just an affinity to numbers, it requires a combination of skills that is typically acquired over several years.</p>

			<p>There are many great analytic tools, but all the tools in the world are not going to do you any good without the right people. Even the best analytics tools available are not guaranteed to collect data that will provide actionable insights without the right people.  You may have the most expensive, gold-plated, diamond-studded super-car in your garage, but if you don't put the right fuel in the tank, it is not going to go anywhere.  The same holds true with your analytics. You may have the best tools available, but unless you get the right people, you are not going to maximize its use.</p>

			<p>Regardless of the tool you purchase, without a good team of analysts running the tool, the best you can expect will be average results. When you have an above average, or even outstanding analytics team, you can produce exceptional results out of some of the most average tools. Don't expect to buy a Formula 1 race car and sit back and watch it drive itself around the track. You need to put someone behind the wheel if you are going to get from point A to point B.   If you want to hit the ground running, you need a driver that has experience with Formula 1 race cars, and hopefully has driven and raced before.  Simply buying the best tool for the job is not going to win you any races - you need the right combination of tools AND people to get an edge and be competitive.</p>

			<p>I have seen a lot of companies that have invested big money on the most cutting-edge, high-end analytics solutions available, but have not put a fraction of this investment into the people running the tools.  Unfortunately, this backward thinking is pretty commonplace in enterprises that try to drive business decisions out of a technology tool. Simply purchasing the best tools available is not going to give you an edge over your competition, having the right people is.  A great analyst is more than just someone that is good with numbers or technology - they are someone that has a broad understanding of many different areas of your business. The best analysts are like a swiss army knife: while the tools they have may not be the best tool for the job, they can get a lot of different jobs done. This "Jack of all trades, master of none" mentality fosters a different type of thinking than the typical specialist engages in, and being able to think outside the box is what produces great results in analytics.</p>

			<p>The analyst or analysts that are the most important part of the equation - if you do not have the right people, all the money in the world is not going to help. At an absolute minimum, you should be spending 2x the amount on analysts as you do on the software.  If you are using inexpensive tools like Google Analytics, doing this should be a pretty easy task.  If your company has invested in some of the more expensive tools like Omniture and Tealeaf,  may be surprised at what you'd find.  Chances are, your spending a whole lot more on software than you are on people.</p>

			<p>In my experience as a consultant, employees are plucked out of a sales, marketing, web or technical job within the company and asked to step in as an analyst, without any formal training.  Even employees with experience with the software may be able to easily navigate the User Interface (UI), but do not understand the business, or can't speak the language of IT to help them properly analyze the data.  Re-aligning your budget to bring the right talent may be all that is needed to make a huge difference in your organization, by bringing on people with the right skills.</p>

			<p>In real estate, they say location-location-location, in analytics it should be people-people-people.  The right people are going to make all the difference. Without the right people, all you have is a bunch of data and expensive software.</p>

				<div class="center-x">
					<%= link_to blog_path, class: "btn btn-sm btn-primary" do %>
						<span class="glyphicon glyphicon-arrow-left"> Back</span>
					<% end %>
				</div>

				<br>
		</div>
	</div>
</div>

<br><%= render 'layouts/navbar_blog' %>