<br>
<div class="container">
	<div class="panel-group" id="accordion">

		<div class='col-md-12'>
			<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">
			    	<a data-toggle="collapse" data-parent"#accordion" href="#collapseTwo">
			    	 The visitor and the visit::
			    	</a>
			    </h3>
			  </div>
			  <div id="collapseTwo" class="panel-collapse collapse in">
			  	<div class="panel-body">
						<h3>Why you should care about the visitor and the visit?</h3>
						<p>Why care about the visitor and the visit? Simply put, if you don't care about the visitor and visit when analyzing your web site, you are subscribing to the GIGO principle of analytics. What is the GIGO principle of analytics? Garbage In, Garbage Out. This may be a little extreme, but in the early days of analytics, this wasn't too far from the truth.</p>

						<p>Let's face it, there is no shortage of data in the analytics world, at least not any more. Once upon a time, before the days of clickstream analytic tools, the data available for analytics was limited to log files collected by the web server. You only had a certain amount of data, and you were left figuring out better and more creative ways to add/subtract/multiply/divide the data into something less than garbage. Regardless of the number of ways we tried to slice up this data, we were forced to analyze our web traffic from high level and make some big assumptions as to what was good and/or bad for our site.</p>

						<p>From the early days of web analytics, we developed some bad habits, which have clouded the way we look at the massive amounts of data we have available to us today. We grew accustomed to looking at high-level data and making assumptions interpreting the data, without understanding 'why' the visitor came to our site in the first place. Which brings me to "Why you should care about the visitor and the visit". Understanding 'why' the visitor is on your site starts to remove some of the uncertainty around the decisions you are trying to make and adds clarity to your analysis to drive business-critical action.</p>

						<p>The massive amounts of web data we collect provide us with 'what' the visitor did while on our site. We can slice and dice the 'what' a million different ways, but until we understand 'why' the visitor is on our site, we are left with something slightly less than GIGO. Understanding 'why' the visitor was on our site provides us with the treasure we have been searching for... actionable insights! So, the better we understand our visitors, the more confidence we have in our data and analysis. As confidence grows and more trends start to emerge from your deep understanding of the visitors on your site, you can start to drive real change within your organization through true actionable insights and business-critical action.</p>

						<h3>Getting there from here...</h3>
						<p>Now that we are clear on the importance of understanding 'why,' or the reason the visitor is on our site, we need to determine the best way to dig this information out of your datastore. As mentioned above, today we have a massive amount of data available at our fingertips to analyze, but how do we filter out all the noise to determine the 'why?'</p>

						<p>The first step in sorting through the massive amounts of data is to break that data down into smaller, more manageable chunks or segments. Segmentation will add clarity and focus to your analysis, allowing you to filter out the noise and focus on understanding the true reason visitors are on your site. Since all sites are different, it is impossible for me to tell you what your segments should be, but a good place to start is with broad segment definitions, such as geographical region or country if your site is international. Once you get some broad segments defined, start creating more focused segments to break these broad segments into smaller pieces of data. Having your data segmented into manageable, digestible and understandable chunks is the cornerstone to analytics success and ultimately actionable insights.</p>

						<p>Segmentation goes back to the GIGO principal. Without segmentation, you are subscribing to a theory that is not going to maximize your investment in analytics. By not segmenting your data, you are essentially treating every visit/visitor as an equal. The ultimate web democracy, where every visit, visitor, hit and session has the same influence on the decisions you derive from your analysis and analytic tools. I am not going to bore you with a long explanation of why this is bad, because I think we can all agree, not all visitors and visits to our web sites are the same. The visitor that came to my site to purchase 100 of my expensive specialty widgets is more valuable than the visitor that came to my site view the list of job openings available.</p>

						<p>Take, for example, two hypothetical companies that sell the exact same products on their web sites. Company A gets 1000 visitors a day and Company B gets 2000 visitors a day. Company A converts 50% of their visitors (500 sales), and Company B converts 25% of their visitors (500 sales). Without segmentation, the logical conclusion is that Company A is doing a much better job of converting their visitors, by a factor of 2x. Without segmentation, making assumptions about what this data is telling us is about as good as we can do. Now, what if I told you Company A's web site had 20 total pages, focused on only the products they sell, while Company B had 100 pages with a lot of additional information about their products, customer reviews, FAQ, help, and a forum? Again, without segmentation, this additional information allows us to make more accurate assumptions but still doesn't tell us what is actually happening and 'why' our visitors are on our site.</p>

						<p>With segmentation, we can start to filter out some of the noise, and determine the real reason(s) visitors came to our web site. In the example above, if Company B had a segment of visitors identified as non-buying customers, we might find over 1200 of these visitors are there to view their great content, research products, read reviews, perform company research, participate on the forum and to look for a job. Now, not only does their data look a lot better, in terms of how they are competing with Company A, but it makes a lot more sense as we begin to understand the 'why' component of our analysis. To take this a step further, we might want to break our buying and non-buying segments down further to provide even deeper insights into more specific areas of our web site.</p>

						<h3>Analyzing visit/visitor data from an enlightened, segmented view...</h3>
						<p>If we have segmented our data into some smaller more meaningful and manageable chunks, we start to gain a new level of insight into the massive amounts of data we have collected with our analytical tools. Up to this point, I have been agnostic with respect to the analytical tools we can use, and for good reason. The principles mentioned to this point are universal, and should be applied to your analytic data regardless of the size of your organization, web site, or tool used to collect the clickstream data.</p>

						<p>Here is where I diverge from the agnostic approach. Not all analytic tools are created equal when it comes to collecting the page-level information for every visitor to your site. Analytic tools like Tealeaf provide you with the ability to drill-down into any visit to your site to see what the visitor was actually doing while there. This level of detail is what is required to find that final segments we have been looking for all this time, the Segments of Discontent. Tealeaf allows you to find and define these segments of discontent by letting you see what the visitor was doing while on your site. It is, for lack of a better term, TiVO for your web site.</p>

						<p>A segment of discontent is a group of visitors that was unable, or had difficulty, completing the task they came to your site for. Say we had a segment of visitors that started the checkout process but failed to complete the transaction. By analyzing this segment of visitors in Tealeaf, we are able to identify trends and patterns that will tell us 'why' these visitors did not complete their checkout. We may find after replaying some sessions that our customers are having difficulty completing the 2nd page of our checkout process. Stick with me here for a little longer, because I know what you are thinking... My other analytics tool already tells me that page 2 of our checkout process is where our customers are abandoning the process. What your 'other analytics tool' doesn't tell us is WHY our customers are abandoning the checkout process on page 2, and Tealeaf will tell us why with a little digging and hard work.</p>

						<p>We know there is a problem with our checkout process (segment of discontent), and we know page 2 is where the majority of our visitors abandon the checkout process. If we use Tealeaf to replay this segment of discontent (visitors that abandoned the checkout process on page 2), we can start to identify the reasons for abandonment. While replaying these sessions we find visitors are having difficulty completing the 'Shipping Address' section of the form. The ability to replay sessions in Tealeaf is a powerful tool, allowing you to quickly identify visitor thrash and struggle and allow us to answer 'why' our visitors were unable to complete the task they came to our site for.</p>

						<p>Understanding the visit/visitor on any site is crucial to understanding those tough 'why' questions. Why is the visitor here? Why was the visitor unable to succeed at their task? When you use a powerful tool like Tealeaf, you are able to answer these tough questions, and start providing some very actionable insights, driving business-critical action to make the visitor experience better.</p>

						<div class="center-x">
							<%= link_to blog_path, class: "btn btn-sm btn-primary" do %>
								<span class="glyphicon glyphicon-arrow-left"> Back</span>
							<% end %>
						</div>

						<br>
			 		</div>
				</div>
			</div>
		</div>

	</div>
</div>

<br><%= render 'layouts/navbar_blog' %>