<div class="container"><br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">What are you doing with all that data? <span class="badge">10-03-2012</span></h3>
		</div>
		<div class="panel-body">
		<img src="/assets/big-data.jpg" alt="Big Data" class="img-rounded", align="left"><br><p>The amount of data a company can collect with a single tool like Tealeaf is staggering. Add to this the fact that most companies leverage several analytics tools (Tealeaf, Omniture, Google Analytics, etc.) and data growth can be exponential.  We have more data than we know what to do with, yet we keep collecting more data, adding more tools and hoping for something magical to happen if we just keep accumulating more.  What are you doing with all this data?</p>

		<ul><li>Gartner says that only 20% of enterprises will use more than 50% of the total data they collect to gain a competitive advantage.</li></ul>

		<p>In other words, 80% of the companies out there are utilizing less than half of the data they collect to make impactful decisions, improving customer experience and getting a leg up on their competitors.  There are many contributing factors that play into this statistic, but one of the biggest problems is the business/technology disconnect.  This disconnect is caused by the way professionals in the business or technology departments utilize the data and a lack of communication between the two.</p>

		<p>The business drives the need for collecting data and implementing tools like Tealeaf and Site Catalyst to increase revenue and maximize their marketing spend, and these tools and data provide a means of accomplishing these goals.  Technology, for the most part, facilitates this need by implementing the tools, collecting and storing the data.  Usually, a business department will lean on the technology department to drive value out of the tools, which is easy with a tool like Tealeaf, since it captures a wealth of information that is valuable to many areas of a business, including IT.</p>

		<p>As a consultant, one of the most common challenges I see is that neither department understands the purpose and objectives of the other, which hinders the companies ability to leverage the data properly, if at all.</p>

		<p>The business/technology disconnect occurs becuase of the way each person looks at the collected data.  Each professional tends to look at data through goggles that are specific to their specialty, or to their own job within the company.  You wouldn't expect a technology-focused person to have a deep understanding of what value the business department wants out of all this data, or vice versa.  Someone from marketing may want to increase the productivity of a marketing campaign, a CEO's goal is to make more money for the company, a sales professional wants to increase web sales, and the IT wants to reduce errors and downtime.  These goals mean entirely different things when expressed to different departments within an organization.</p>

		<p>If you told the IT department of your company the goal was to increase annual sales by 5%, they are going to approach this problem in an entirely different way than the sales department.  You wouldn't expect the IT people to put on a suit and tie and start visiting your customers, just as you wouldn't expect your sales people to start analyzing log files and AJAX code.</p>

		<p>Somehow, they all must learn how to speak the same language to figure out how to meet their goals and interpret the data. It takes a unique skill set spanning many of these areas to be able to leverage all this data properly.  Bridging this disconnect between departments is critical, and the companies that do this well are the few (~20%) that are leveraging the data they collect to their greatest advantage.</p>

		<p>Now that you better understand the problem, what can you do to utilize all this data more effectively?  The greatest efficiencies are gained when different departments work well together and meet somewhere in the middle, to build solutions that utilize the analytic data to its greatest advantage.</p>

		<p>When the business department leans heavily on the technical departments to purchase and use a particular tool without inviting the technical departments to be part of the decision-making process, or the business folks ask for the data, without having someone from technology involved in helping interpret the data specific to the needs and goals of the company, the data means little or nothing, and all the time and money spent to collect the data is tragically wasted. But when business shares their needs and goals with tech and tech shares their deep knowledge of the data, being able to slice and dice the data in meaningful ways becomes possible.</p>

		<p>Having a group of analysts with both strong business and technical people working together with a common goal is going to bridge the disconnect between these groups, and leverage all that unused analytic data taking up valuable space in your data centers.  It is much more than just team-building, a few key people can make a huge difference!</p>


				<div class="center-x">
					<%= link_to blog_path, class: "btn btn-sm btn-primary" do %>
						<span class="glyphicon glyphicon-arrow-left"> Back</span>
					<% end %>
				</div>

				<br>
		</div>
	</div>
</div>

<br><%= render 'layouts/navbar_blog' %>