<div class="container"><br>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Why Integrate? <span class="badge">01-03-2012</span></h3>
		</div>
		<div class="panel-body">
			<p>Predictive analytics is the process of analyzing current and historical facts to make predictions about future events.  The use of statistical analysis to extract information from data and use it to predict future trends and behavior conjures images of the movie “Minority Report” where massively powerful computer systems are able to predict what people will do, before they do it, preemptively eliminating crime in this future world.  Of course, the movie was about more than the serendipitous world with no crime, it was about what happens when the computer system makes a mistake and accuses one of the special unit officers played by “Tom Cruise” of a crime he will soon commit.</p>

			<p>This type of predictive analytics is the ultimate goal for those of us that work in web analytics: the ability to proactively determine issues before they become problems.  The ability to understand our web site visitors so well we can predict what issues they might have and fix them before they ever experience them.  Fortunately for us, we live in the world of ebusiness, where the decisions we make are not going to ruin a person’s life if the computer makes a bad decision.</p>

			<p>While predictive analytics is already in use in many areas like actuarial science, financial services, insurance, telecommunications, retail, travel, healthcare and even crime, it is still evolving for the world of ebusiness and web analytics.  We are now collecting more data than ever, the trick is slicing and dicing the data we have in ways that allow us to proactively determine what needs to be fixed in our environments.  Clickstream tools like Omniture SiteCatalyst do an amazingly good job answering the high-level quantitative ‘what’ questions like:</p>

			<ul><ul><ul>
			<li>What is the conversion rate?</li>
			<li>What is the most popular page(s)?</li>
			<li>What path to our visitors follow?</li>
			</ul></ul></ul>

			<p>To answer the why questions, we need to use a tool more focused on qualitative data like Tealeaf.  Tealeaf is a Customer Experience Management (CEM) tool that captures data in a very different way than your traditional clickstream javascript tagging methods.  Tealeaf, in contrast, collects data by passively listening to the data stream between the visitor and your web servers, capturing every page, every click, and every interaction for every customer.  With a tool like Tealeaf, you have the ability to answer the tough why questions like:</p>

			<ul><ul><ul>
			<li>Why do visitors fail to complete checkout?</li>
			<li>Why do visitors have difficulty completing registration?</li>
			<li>Why are visitors on our site?</li>
			</ul></ul></ul>

			<p>By combining two tools like SiteCatalyst and Tealeaf, we gain a more holistic view of the online experience and move one step closer to building a proactive, data-driven, analytics environment.  Being able to answer the difficult what and why questions is the first step toward making this happen, and I see Tealeaf as a keystone to this strategy, let me explain why.</p>

			<p>Tealeaf has the ability to integrate seamlessly with business intelligence, analytics and web site optimization solutions for achieving cross-channel and customer behavior analysis.  The ability to integrate with these other solutions is what makes the difference.  With these tools, you can combine different qualitative and quantitative data to gain a deep understanding of your site visitors, and it is this type of deep understanding that will put your analytics on another level.  The ability to pivot between quantitative data in SiteCatalyst and qualitative data in Tealeaf reveals the answers to what and why questions faster and more effectively than ever before. As you know, there is no shortage of data in the world of web analytics.  The trick is not collecting the data and storing it in a massive database, the trick is putting all this data together in a meaningful way that lead to actionable insights, and Tealeaf does just that.   With massive amounts of data and limited time, integrating your analytics tools only makes sense.</p>

 			<p>While we are nowhere near true predictive analytics yet, the ability to add clarity to the massive amounts of data you are collecting is certainly a step in that direction.  The better we can understand the data we are collecting, the better we understand our customers and what they want, need and possibly even predict what they will want in the future.</p>

				<div class="center-x">
					<%= link_to blog_path, class: "btn btn-sm btn-primary" do %>
						<span class="glyphicon glyphicon-arrow-left"> Back</span>
					<% end %>
				</div>

				<br>
		</div>
	</div>
</div>

<br><%= render 'layouts/navbar_blog' %>