<div class="page-header header-home">
	<div class="container">
		<div class="col-md-1"></div>
		<div class="col-md-10">
    <h2>About</h2>
    <h4>Hello, and welcome to the new home of The-JLB.com site. 
    This site was developed by me using Ruby/Rails and will consolidate
    several sites, including The-JLB.com, Tealeaf Analytics 101 blog on
    on blogspot, and eventually UX-Metrix.com and MMAMetrix.com which are 
    currently still under construction.
    </h4>
    </div>
	</div>
</div>

<div class='container'>
	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-body panel-about'>

				<h2>The-JLB.com</h2>
				<p>This my personal site, developed in ruby/rails and hosted on the 
				Amazon ec2 cloud. Contained within this site is a variety of things,
				including my resume, Tealeaf blog articles, downloads (Software/Documents),
				and links to other sites I have developed and try to find the time to
				maintain. :-)</p>

				<p>This site also serves as a test-bed for various things I am currently 
				working on in analytics and user experience, so please don't be surprised
				if everything doesn't work perfectly all the time.
				</p>

			</div>
		</div>
	</div>

	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-body panel-about'>

				<h2>Blog</h2>
				<p>The new home of the Tealeaf Analytics 101 blog. All articles from this 
				blog have been duplicated here to live in perpetuity. This is where any 
				new Tealeaf blog articles	will be posted and available.</p>

				<p>As you may have already noticed the blog posts are a bit outdated, with
				the most recent post being from December 2012. With that said, these posts
				relate to Tealeaf versions 7 & 8, and may not be relevant to the newest
				Tealeaf release (v9).</p>

			</div>
		</div>
	</div>
</div>

<div class='container'>
	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-body panel-home'>

				<h2>Resume (John L. Butler)</h2>
				<p>Need I say more, it's my resume, and a damn fine one if I do say so myself.</p>
				<p><b>Senior level professional technologist with over 20+ years experience.</b> Motivated self-starter and creative thinker with entrepenurial sprit, able to think outside the box and communicate effectively across levels of an organization large and small.</p>

			</div>
		</div>
	</div>

	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-body panel-home'>

				<h2>UX-Metrix.com</h2>
				<p><b>Coming Soon!</b></p>
				<p>User Experience analytics and conversion optimizaton. Convert
				more visitors into customers by optimizing your website for your
				customers. Uncover where you are losing customers and convert more
				of your traffic into sales.</p>

			</div>
		</div>
	</div>
</div>	

<div class='container'>
	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-body panel-home'>

				<h2>MMAMetrix.com</h2>
				<p><b>Coming Soon!</b></p>
				<p>Predictive analytics and modeling for Mixed Martial Arts (MMA) 
				fighters and fights. Attempting to beat the odds and reliably 
				predict the outcome of the very unpredictable sport of MMA.</p>

			</div>
		</div>
	</div>

	<div class='col-md-6'>
		<div class='panel panel-default'>
			<div class='panel-body panel-home'>

				<h2>Downloads</h2>
				<p>Files, Documents and Programs.</p>
				<p>Mostly work related, items contained in this section are
				intended to make my life easier.</p>

			</div>
		</div>
	</div>
</div>