<div class='container'>
	<div class='col-md-3'></div>
	<div class='col-md-6' align='center'>
		<ol class="breadcrumb">
		  <li><%= link_to "Home", home_path %></li>
		  <li><%= link_to "Blog", blog_path %></li>
		  <li class="active">Resume</li>
		  <li><%= link_to "Metrix", metrix_path %></li>
		  <li><%= link_to "Downloads", downloads_path %></li>
		</ol>
	</div>
</div>